.main-nav-single {
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;

	height: 50px;
	background-color: $color-dark;

	> ul {
		float: left;
		list-style: none;

		.active-mother {
			> a {
				background-color: $color-accent-1;
				color: $color-dark;
				text-decoration: line-through;
			}
		}

		> li {
			display: inline-block;
			margin-right: 10px;
			position: relative;

			> a {
				display: block;
				padding: 16px 20px;
				font-family: $ff-mono;
				color: $color-white;
				text-transform: uppercase;
				font-size: rem-calc(15);
				letter-spacing: .15em;
				height: 50px;

				&:active,
				&:hover {
					background-color: $color-accent-1;
					color: $color-dark;
					text-decoration: line-through;
				}
			}
		}
	}

	.sub-menu {
		position: absolute;
		display: none;
		z-index:10;
		top: 50px;
		text-align: left;
		list-style: none;
		z-index: 100;
		border-bottom: 3px solid $color-dark;
		min-width: 100%;

		> li {

			> a {
				font-family: $ff-mono;
				text-transform: uppercase;
				font-size: rem-calc(14);
				padding: 10px 20px;
				color: $color-dark;
				display: block;
				background-color: $color-white;


				&:hover {
					text-decoration: line-through;

				}
			}
		}
	}


	.menu-item-search {
		// display: inline-block;
		// 	position: relative;
		// a {

		// 		background-image: url('../../img/icon-search.svg');
		// 		background-position: center center;
		// 		background-repeat: no-repeat;
		// 		width: 20px;
		// 		line-height: 1;
		// 		height: 15px;
		// 		content: '';
		// 		display: inline-block;

		// 	@include ir;
		// }
	}

	.logo-wrapper {
		float: right;

		a {
			position: relative;
			display: block;
			padding: 5px 10px;
			top: 8px;
			right: 30px;

		}
		img {
		}
	}

}


