/*------------------------------------*\
		# Top header single
\*------------------------------------*/


.top-header-single {
	position: absolute;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: rgba($color-dark, 1);
	transition: 200ms ease-out;

	@include mq(769) {
		position: fixed;
		background-color: rgba($color-dark, .5);
	}

	&:hover {
		@include mq(769) {
			transition: 100ms;
			background-color: rgba($color-dark, .95);
		}
	}

	.single-desktop-nav-wrapper {
		display: none;
		@include mq(769) {
			display: block;
		}

	}

	.single-mobile-nav-wrapper {
		display: block;
		@include mq(769) {
			display: none;
		}


		> ul {
			// display: none;
		}

	}

	.mobile-nav-trigger {
		outline: none;
		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		background-image: url('../../img/icon-three-dots.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 36px 8px;
		background-color: transparent;
		width: 80px;
		height: 50px;
	}




	// Mobile navigation

	.single-mobile-nav-wrapper {

		a {
			display: block;
			padding: 16px 20px;
			font-family: $ff-mono;
			color: $color-white;
			text-transform: uppercase;
			font-size: rem-calc(15);
			letter-spacing: .15em;
			height: 50px;

			&:active,
			&:hover {
				// background-color: $color-accent-1;
				// color: $color-dark;
				// // text-decoration: line-through;
			}
		}

		> ul {
			display: none;

			> li:first-child {
				border-top: 1px solid rgba($color-darker,1);
			}
			li.menu-item-has-children {
				position: relative;

				&:after {
					content: '+';
					position: absolute;
					right: 10px;
					top: 10px;
					line-height: 1;
					width: 30px;
					height: 30px;
					padding-top: 5px;
					text-align: center;
					color: $color-dark;
					font-weight: $fw-bold;
					background-color: $color-accent-1;
					display: block;
				}
				&.active-mother a {
					background-color: $color-accent-1;
					color: $color-dark;
					text-decoration: line-through;
				}
				&.active-mother:after {
					content: '✕';
					position: absolute;
					line-height: 1;
					right: 10px;
					top: 10px;
					width: 30px;
					height: 30px;
					padding-top: 5px;
					text-align: center;
					color: $color-dark;
					font-weight: $fw-bold;
					background-color: $color-accent-1;
					display: block;
				}
			}

			ul.sub-menu {
				display: none;

				li a {
					color: $color-dark;
					padding: 16px 30px;
					text-decoration: none !important;
				}
			}

		}

	}


	// Desktop nav

	.single-desktop-nav-wrapper > ul {
		float: left;
		list-style: none;

		.active-mother {
			> a {
				background-color: $color-accent-1;
				color: $color-dark;
				text-decoration: line-through;
			}
		}

		> li {
			display: inline-block;
			margin-right: 10px;
			position: relative;

			> a {
				display: block;
				padding: 16px 20px;
				font-family: $ff-mono;
				color: $color-white;
				text-transform: uppercase;
				font-size: rem-calc(15);
				letter-spacing: .15em;
				height: 50px;

				&:active,
				&:hover {
					background-color: $color-accent-1;
					color: $color-dark;
					text-decoration: line-through;
				}
			}
		}


		.sub-menu {
			position: absolute;
			display: none;
			z-index:10;
			top: 50px;
			text-align: left;
			list-style: none;
			z-index: 100;
			border-bottom: 3px solid $color-dark;
			min-width: 100%;

			> li {

				> a {
					font-family: $ff-mono;
					text-transform: uppercase;
					font-size: rem-calc(14);
					padding: 10px 20px;
					color: $color-dark;
					display: block;
					background-color: $color-white;


					&:hover {
						text-decoration: line-through;

					}
				}
			}
		}


	}



	.menu-item-search {
		// display: inline-block;
		// 	position: relative;
		// a {

		// 		background-image: url('../../img/icon-search.svg');
		// 		background-position: center center;
		// 		background-repeat: no-repeat;
		// 		width: 20px;
		// 		line-height: 1;
		// 		height: 15px;
		// 		content: '';
		// 		display: inline-block;

		// 	@include ir;
		// }
	}

	.logo-wrapper {
		float: right;
	}

		.logo {
			position: relative;
			display: block;

			&--small {
				top: 7px;
				right: 15px;
				display: none;

				img {
					width:40px;
				}

				@include mq(769) {
				display: block;
				}

				@include mq(1280) {
					display: none;
				}
			}

			&--large {
				padding: 5px 10px;
				right: 15px;
				top: 4px;
				display: block;

				img {
					width: 160px;
				}
				@include mq(769) {
					display: none;
				}

				@include mq(1280) {
					display: block;
				}
			}
		}
} //.top-header-single




/*------------------------------------*\
		# Top header Home
\*------------------------------------*/

.top-header-home {
	position: absolute;
	width: 100%;
	z-index: 15;
	padding-right: $sidebar-width;
	// background-color: $color-darker;

	height: 50px;

	.home-desktop-nav-wrapper > ul {
		text-align: center;
		list-style: none;

		.active-mother {
			> a {
				background-color: $color-accent-1;
				color: $color-dark;
				text-decoration: line-through;
			}
		}

		> li {
			display: inline-block;
			margin-right: 10px;
			position: relative;

			> a {
				display: block;
				padding: 16px 20px;
				font-family: $ff-mono;
				color: $color-light;
				text-transform: uppercase;
				font-size: rem-calc(15);
				letter-spacing: .15em;
				height: 50px;

				&:active,
				&:hover {
					background-color: $color-accent-1;
					color: $color-dark;
					text-decoration: line-through;
				}
			}
		}
	}

	.sub-menu {
		position: absolute;
		display: none;
		z-index:10;
		top: 50px;
		text-align: left;
		list-style: none;
		z-index: 100;
		border-bottom: 3px solid $color-dark;
		min-width: 100%;

		> li {

			> a {
				font-family: $ff-mono;
				text-transform: uppercase;
				font-size: rem-calc(14);
				padding: 10px 20px;
				color: $color-dark;
				display: block;
				background-color: $color-white;


				&:hover {
					text-decoration: line-through;

				}
			}
		}
	}


	.menu-item-search {
		// display: inline-block;
		// 	position: relative;
		// a {

		// 		background-image: url('../../img/icon-search.svg');
		// 		background-position: center center;
		// 		background-repeat: no-repeat;
		// 		width: 20px;
		// 		line-height: 1;
		// 		height: 15px;
		// 		content: '';
		// 		display: inline-block;

		// 	@include ir;
		// }
	}

}


