h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
	line-height: 1.1;
	font-family: $ff-body;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}


	.media__title {
		font-size: rem-calc(30px);
	}

