// ==========================================================
// # Typography
// ==========================================================

$ff-heading: "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
$ff-body: "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;

$fw-normal: 400;
$fw-bold: 700;


// ==========================================================
// # Colors
// ==========================================================

$light: #f1f1f1;
$dark: #1F2328;

$brand-color: #e52645;

$cat-mangitud-color: #ff3b2f;
$cat-uudis-color: #e922ff;
$cat-proovitud-color: #29cbcf;
$cat-intervjuu-color: #bed435;
$cat-arvamus-color: #ff1975;
$cat-varia-color: #4A4A4A;