$ff-heading: "Lato", sans-serif;
$ff-body: "Lato", serif;

// $fw-thin: 100; // ?
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
// $fw-ultrabold: 900; // ?

$light: #f1f1f1;
$dark: #181818;

$brand-color: #D62650;

$cat-mangitud-color:#ff3b2f;
$cat-uudis-color:#e922ff;
$cat-proovitud-color:#29cbcf;
$cat-intervjuu-color:#bed435;
$cat-arvamus-color:#ff1975;
$cat-varia-color:#e52645;