// $ff-heading: "Lato", sans-serif;
// $ff-body: "Lato", serif;
$ff-heading: "Source Sans Pro", sans-serif;
$ff-body: "Quattrocento Sans", serif;

// $fw-thin: 100; // ?
// $fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
// $fw-ultrabold: 900; // ?

$light: #f1f1f1;
$dark: #1F2328;

$brand-color: darken(#e52645, 0);

$cat-mangitud-color:#ff3b2f;
$cat-uudis-color:#e922ff;
$cat-proovitud-color:#29cbcf;
$cat-intervjuu-color:#bed435;
$cat-arvamus-color:#ff1975;
$cat-varia-color:#4A4A4A;