// ==========================================================
// # Post meta labels
// ==========================================================


.post-meta {
	font-size: rem-calc(12px);
	position: relative;
}

.post-meta--card {
	font-size: rem-calc(10px);
	position: relative;
	top:-6px;
}

.post-meta-label {
	font-family: $ff-heading;
	border-radius: 1px;
	background: rgba(black, 0.5);
	color: $light;
	padding: .2em .6em;
	text-transform: uppercase;
	box-shadow: 0 1px 0 0 rgba($dark, .4);
	// display: inline-block;
	// margin-right: .3em;

	// &:last-child {
	// 	margin-right: 0;
	// }
	transition: .2s;
}

.post-meta-label--comments {
}

.post-meta-label--cat {
	letter-spacing: .15em;
	background: rgba(red, .5);
	transition: .5s;

	&:hover {
		box-shadow: 0 2px 0 0 rgba($dark, .4);

	}

	.category-arvamus & {
		background: rgba($cat-arvamus-color, .8);

		&:hover {
			background: rgba($cat-arvamus-color, .9);
		}
	}
	.category-mangitud & {
		background: rgba($cat-mangitud-color, .8);

		&:hover {
			background: rgba($cat-mangitud-color, .9);
		}
	}
	.category-proovitud & {
		background: rgba($cat-proovitud-color, .8);

		&:hover {
			background: rgba($cat-proovitud-color, .9);
		}
	}
	.category-intervjuu & {
		background: rgba($cat-intervjuu-color, .8);

		&:hover {
			background: rgba($cat-intervjuu-color, .9);
		}
	}
	.category-uudis & {
		background: rgba($cat-uudis-color, .8);

		&:hover {
			background: rgba($cat-uudis-color, .9);
		}
	}
	.category-varia & {
		background: rgba($cat-varia-color, .8);

		&:hover {
			background: rgba($cat-varia-color, .9);
		}
	}

}

.post-meta-label--pubdate {
	letter-spacing: .1em;
}




// ==========================================================
// # Post author
// ==========================================================

.post-author {
	@include clearfix();
}

.post-author--featured {
	margin-top: 20px;
}

.post-author--single {
	float: left;
	top: 30px;
	position: relative;
	left: 40px;
}

.post-author--card {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 100%;
	z-index: 10;
	opacity:0;
	transition: 1s;
}

	.post-author__img {
		float: left;
		// margin-right: 10px;
		box-shadow: -2px 2px 0 0 rgba(0, 0, 0, .5);

		.post-author--featured & {
			max-width: 50px;
		}

		.post-author--card & {
			max-width: 30px;
		}

		.post-author--single & {
			max-width: 70px;
		}
	}

	.post-author__name {
		color: $light;
		line-height: 1;
		background: rgba(0, 0, 0, .5);
		display: inline;
		padding: .1em .5em;
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, .3);

		.post-author--card & {
			font-size: rem-calc(13px);
			top: -2px; // Magic number
			position: relative;
		}
		.post-author--featured & {
			font-size: rem-calc(18px);
			top: 1px; // Magic number
			position: relative;
		}
		.post-author--single & {
			font-size: rem-calc(20px);
			top: 3px; // Magic number
			left: -1px;
			position: relative;
			// display: inline-block;

		}
	}



//	==========================================================
//	# Pull Quote
//	==========================================================
/*

		<aside class="quote quote--pullquote">
			<blockquote>
				...
			</blockquote>
		</aside>

*/

.quote {

	blockquote,
	blockquote p {
		color: $brand-color;
		font-size: rem-calc(24px);
		line-height: 1.4;
		// text-shadow: 0px -1px 0px darken($brand-color, 15);
		font-weight: $fw-bold;
		// font-family: $ff-heading;
		text-shadow: 0 1px 0 darken(white, 2);
	}

}

	.quote--pullquote {
		font-style: italic;
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;

		&:before {
			border-top: 3px solid rgba($brand-color, .6);
			content:'';
			display: block;
			width: 30%;
			margin: 0 auto 20px;
		}

		&.pullquote--right,
		&.pullquote--left {
			&:before {
				margin: 0 0 20px;
			}
		}
	}

		.pullquote--right {
			text-align: left;

			@include mq(768) {
				float: right;
				width: 40%;

				margin-left: 2em;
			}

			@include mq(1100) {
				margin-right: -100px;
			}
		}

		.pullquote--left {
			text-align: left;

			@include mq(768) {
				float: left;
				width: 40%;
				position: relative;
				margin-right: 2em;
			}

			@include mq(1100) {
				margin-left: -100px;
			}
		}

		.pullquote--center {
			text-align: center;

			margin-top: 50px;
			margin-bottom: 50px;

			@include mq(1100) {
				margin-left: -100px;
				margin-right: -100px;
			}
		}


