/*------------------------------------*\
		# Colors
\*------------------------------------*/

$color-dark: #202020;
$color-darker: #161616;

$color-light: #f0f0f0;
$color-white: #fff;
$color-light-gray: #9d9fa1;

$color-accent-1: #27ffd4;

/*------------------------------------*\
		# Fonts
\*------------------------------------*/
/* Inconsolata 400, 700
 * Oswald 300, 400, 700
 * Fira Sans 300, 300italic, 400, 400italic, 700
 * League Gothic Condensed (regular)
 * League Gothic (regular)
 * Noto Serif 400, 400italic, 700
 */

$ff-mono: 'Inconsolata', monospace;
$ff-heading: 'League Gothic', Helvetica, sans-serif;
$ff-body: 'Fira Sans', Helvetica, sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;







$sidebar-width: 300px;