.module--gallery {
	width: 100%;
	background-color: $color-light;

	padding-top: 20px;

	h2 {
		margin-bottom: 20px;
		text-align: center;
		font-family: $ff-heading;
		font-weight: $fw-regular;
		text-transform: uppercase;
		font-size: rem-calc(40px);

		a {
			color: $color-darker;

			&:hover {
				color: darken($color-accent-1, 15);
			}
		}
	}


// ==========================================================
// # Gallery
// ==========================================================

/*Böö*/
			.gallery {
				margin-left: 0px;
				margin-right:0px;
				margin-bottom: 0px;
				margin-top: 0px;
				overflow: auto;
				white-space: nowrap;
				text-align: center;
				max-height: 250px;
			}
			.gallery .gallery-item {
				display: inline-block;
				// float: left;
				margin-top: 10px;
				text-align: center;
				margin-left: 5px;
				margin-bottom: 0;

				&:first-child {
					margin-left: 0;
				}
			}
			.gallery img {
				height: 200px;
				width: auto;
				margin: 0 !important;
			}
			.gallery .gallery-caption {
				margin-left: 0;
				display:none;
			}

				.gallery-img-link {
					cursor: -webkit-zoom-in;
					cursor: -moz-zoom-in;
					cursor: zoom-in;
				}
			/* see gallery_shortcode() in wp-includes/media.php */
}